<%= form_for(pledgenewee) do |f| %>
  <% if pledgenewee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pledgenewee.errors.count, "error") %> prohibited this pledgenewee from being saved:</h2>

      <ul>
      <% pledgenewee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <p>선거본부 후보팀</p>
      <%= f.label :name, '후보팀 : ' %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <p>첫 번재 공약</p>
      <%= f.label :title, '제목 : ' %>
      <%= f.text_field :title %>
    </div>
  
    <div class="field">
      <%= f.label :content, '세부 설명 : ' %>
      <%= f.text_area :content %>
    </div>

    <div class="field">
      <p>두 번재 공약</p>
      <%= f.label :title2, '제목 : ' %>
      <%= f.text_field :title2 %>
    </div>

    <div class="field">
      <%= f.label :content2, '세부 설명 : '%>
      <%= f.text_area :content2 %>
    </div>

    <div class="field">
      <p>세 번재 공약</p>
      <%= f.label :title3, '제목 : ' %>
      <%= f.text_field :title3 %>
    </div>

    <div class="field">
      <%= f.label :content3, '세부 설명 : '%>
      <%= f.text_area :content3 %>
    </div>

  <div class="field">
    <%= f.label :image, '선거본부 포스터 이미지' %>
    <%= f.file_field :image,
        accept: 'image/png,image/gif,image/jpeg' %>
  </div>

    <div class="field">
    <%= f.label :image2, '선거본부 배너 이미지' %>
    <%= f.file_field :image2,
        accept: 'image/png,image/gif,image/jpeg' %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>