<%= form_for(hoowon) do |f| %>
  <% if hoowon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hoowon.errors.count, "error") %> prohibited this hoowon from being saved:</h2>

      <ul>
      <% hoowon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :given %>
    <%= f.text_field :given %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
